Pillow
requests
transformers>=4.30.2
timm
torch
sentencepiece
accelerate
diffusers
safetensors
numpy==1.23.5
typing-extensions
bitsandbytes
datasets
git+https://github.com/dataloop-ai-apps/dtlpy-converters
albumentations==1.3.1
