jinja2>=3.1.0
Pillow
requests
transformers>=4.57.0
timm
torch
sentencepiece
accelerate
diffusers
safetensors
numpy==1.23.5
typing-extensions
bitsandbytes
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
datasets
git+https://github.com/dataloop-ai-apps/dtlpy-converters
albumentations==1.3.1
filelock>=3.14.0
