Pillow
requests
transformers>=4.30.2
timm
torch
sentencepiece
accelerate
diffusers
safetensors
numpy==1.23.5
typing-extensions
bitsandbytes
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability